{% extends 'layout.html' %}

{% block content %}
    <section id="login">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <div class="title">
                        SmartSecCam
                    </div>

                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            <strong>{{ error }}</strong>
                        </div>
                    {% endif %}

                    <div class="form-wrap">
                    <h1>Modification du mot de passe</h1>
                        <form role="form" action="password" method="post" id="login-form" autocomplete="off">
                            <div class="form-group">
                                <input type="password" name="password" id="password" class="form-control" placeholder="mot de passe">
                            </div>
                            <div class="form-group">
                                <input type="password" name="confirm" id="confirm" class="form-control" placeholder="Confirmer mot de passe">
                            </div>
                            <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Modifier">
                        </form>
                        <!--<a href="#" class="forget" data-toggle="modal" data-target=".forget-modal">Forgot your password?</a>-->
                        <hr>
                    </div>
                </div> <!-- /.col-xs-12 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section>
{% endblock content %}
