{% extends 'layout.html' %}

{% block content %}
    <section id="login">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <div class="title">
                        SmartSecCam
                    </div>

                    <h1>L'adresse ip pour vous connecter au serveur est {{ ip }}</h1>

                    </div>
                </div> <!-- /.col-xs-12 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section>
{% endblock content %}
