{% extends 'config/layout.html' %}

{% block content %}
    <section id="login">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <div class="title">
                        SmartSecCam
                    </div>

                    <div class="form-wrap">
                    <h1>Veuillez créer un nouveau mot de passe</h1>
                        <form role="form" action="{% url 'index' %}" method="POST" id="login-form" autocomplete="off">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="password" class="sr-only">Mot de passe</label>
                                <input type="password" name="password" id="password" class="form-control">
                            </div>
                            <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Modifier">
                        </form>
                        <!--<a href="#" class="forget" data-toggle="modal" data-target=".forget-modal">Forgot your password?</a>-->
                        <hr>
                    </div>
                </div> <!-- /.col-xs-12 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section>
{% endblock content %}

