{% extends 'config/layout.html' %}

{% block content %}
    <section id="login">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    {% if success %}
                    <div class="alert alert-success" role="alert">
                        {{ success }}
                    </div>
                    {% endif %}

                    <div class="title">
                        SmartSecCam
                    </div>

                    <div class="form-wrap">
                    <h1>Espace configuration</h1>
                        <form role="form" action="{% url 'profiloption' %}" method="POST" id="login-form" autocomplete="off">
                            {% csrf_token %}
                            <div class="form-group">
                                <select name="typeoption" id="typeoption" class="form-control">
                                    <option value="1">Modifier votre mot de passe</option>
                                    <option value="2">Modifier la configuration Wi-Fi</option>
                                </select>
                            </div>
                            <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Accéder">
                        </form>
                        <!--<a href="#" class="forget" data-toggle="modal" data-target=".forget-modal">Forgot your password?</a>-->
                        <hr>
                    </div>
                </div> <!-- /.col-xs-12 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section>
{% endblock content %}